body {
    /*Fonts*/
    --h1FontFamily: "Baskervville", serif;
    --h1Weight: 500;
    --h1Size: 17.942rem;
    --h2FontFamily: "Baskervville", serif;
    --h2Weight: light;
    --h2Size: 11.089rem;
    --h3FontFamily: "Rubik", sans-serif;
    --h3Weight: light;
    --h3Size: 6.854rem;
    --h4FontFamily: "Rubik", sans-serif;
    --h4Weight: light;
    --h4Size: 4.236rem;
    --h5FontFamily: "Rubik", sans-serif;
    --h5Weight: light;
    --h5Size: 2.618rem;
    --h6FontFamily: "Rubik", sans-serif;
    --h6Weight: light;
    --h6Size: 1.618rem;
    --p1FontFamily: "Rubik", sans-serif;
    --p1Weight: normal;
    --p1Size: 1rem;
    --p2FontFamily: "Rubik", sans-serif;
    --p2Weight: light;
    --p2Size: 17.942rem;
    --p3FontFamily: "Rubik", sans-serif;
    --p3Weight: light;
    --p3Size: 17.942rem;

    /*Padding*/
    --largePadding: 2.5rem;
    --mediumPadding: 1.25rem;
    --smallPadding: 0.75rem;
    --smallestPadding: 0.25rem;

    /*Units*/
    --contentWidth: calc(100vw - (2 * var(--largePadding)));
    --goldenRatio: calc(61.8vw - var(--largePadding));
    --halfContentWidth: calc(var(--contentWidth) / 2);

    /*Decoration*/
    --primaryBorderRadius: 30px;
    --primaryBlurRadius: 15px;
    --secondaryBlurRadius: 3px;

    /*Colors*/
    --primaryBackgroundColor: hsl(326, 25%, 80%);
    --secondaryBackgroundColor: hsl(326, 25%, 80%);
    --tertiaryBackgroundColor: hsl(326, 40%, 60%);
    --primaryColor: hsl(326, 95%, 43%);
    --secondaryColor: hsl(215, 95%, 43%);
    --tertiaryColor: hsl(17, 95%, 43%);
    --textColor: hsl(326, 50%, 10%);
    --subTextColor: hsl(326, 50%, 25%);

    /*Transitions*/
    --primaryTransition: 0.2s ease;

    z-index: 0;
    position: relative;
    background: hsla(27, 25%, 80%, 25%);
}

html {
    font-size: 100%;
}

body,
header,
main,
nav,
footer,
h1,
div,
img {
    margin: 0;
    padding: 0;
    border: 0;
}

body::before {
    content: "";
    position: absolute;
    inset: 0;
    background-image: url("../images/background.webp");
    background-size: 100%;
    background-repeat: repeat;
    opacity: 0.3;
    pointer-events: none; /* clicks pass through */
    z-index: -1;
}

h1 {
    font-family: var(--h1FontFamily);
    font-weight: var(--h1Weight);
    font-size: var(--h1Size);
    color: var(--textColor);
}

h2 {
    font-family: var(--h2FontFamily);
    font-weight: var(--h2Weight);
    font-size: var(--h2Size);
    color: var(--textColor);
}

h3 {
    font-family: var(--h3FontFamily);
    font-weight: var(--h3Weight);
    font-size: var(--h3Size);
    color: var(--textColor);
}

h4 {
    font-family: var(--h4FontFamily);
    font-weight: var(--h4Weight);
    font-size: var(--h4Size);
    color: var(--textColor);
}

h5 {
    font-family: var(--h5FontFamily);
    font-weight: var(--h5Weight);
    font-size: var(--h5Size);
    color: var(--textColor);
}

h6 {
    font-family: var(--h6FontFamily);
    font-weight: var(--h6Weight);
    font-size: var(--h6Size);
    color: var(--textColor);
}

p,
a {
    font-family: var(--p1FontFamily);
    font-weight: var(--p1Weight);
    font-size: var(--p1Size);
    color: var(--textColor);
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

/*Glass*/
.primaryGlass {
    box-shadow:
        3px 3px 5px rgba(0, 0, 0, 0.2),
        inset 3px 3px 5px rgba(255, 255, 255, 0.8),
        inset -3px -3px 5px rgba(0, 0, 0, 0.2);
    border: 0.5px solid rgba(0, 0, 0, 0.25);
    backdrop-filter: url("../glassFilter.svg#glass") saturate(185%);
}

.secondaryGlass {
    box-shadow:
        2px 2px 3px rgba(0, 0, 0, 0.2),
        inset 2px 2px 3px rgba(255, 255, 255, 0.8),
        inset -2px -2px 3px rgba(0, 0, 0, 0.7);
    border: 0.5px solid rgba(0, 0, 0, 0.25);
    backdrop-filter: saturate(200%) blur(var(--secondaryBlurRadius));
}

/*Header*/
header {
    display: flex;
    position: fixed;
    width: var(--contentWidth);
    height: 10vh;
    padding: var(--largePadding);
    justify-content: space-between;
    align-items: center;
    top: var(--largePadding);
    border-radius: var(--primaryBorderRadius);
    margin-left: var(--largePadding);
    margin-bottom: var(--largePadding);
    z-index: 10;
    overflow: visible;
    transition: transform var(--primaryTransition);
}

header ul {
    display: flex;
    list-style-type: none;
    text-align: right;
}

header li {
    padding: 0 var(--largePadding);
}

header a {
    text-decoration: none;
}
.hidden {
    transform: translateY(calc(-100% - var(--largePadding)));
}
.logo {
    width: auto;
    height: 7vh;
    border-radius: 50%;
}

/* Hamburger Menu */
#menuToggle {
    display: none;
}

/*Burger icon*/
.hamburger {
    display: none;
    flex-direction: column;
    cursor: pointer;
    gap: var(--smallPadding);
    padding: var(--smallPadding);
    border-radius: var(--primaryBorderRadius);
    transition: all var(--primaryTransition);
}

/*Active state*/
#menuToggle:checked ~ .hamburger {
    background-color: var(--primaryBackgroundColor);
    background: linear-gradient(
        var(--primaryBackgroundColor),
        var(--tertiaryBackgroundColor)
    );
}

/*Hamburger lines*/
.hamburger span {
    width: var(--largePadding);
    height: var(--smallestPadding);
    background: var(--textColor);
    border-radius: 0.1rem;
    transition: all var(--primaryTransition);
}

.menu {
    display: none;
}

/*Footer*/
footer {
    text-align: center;
    padding: var(--largePadding);
    color: var(--textColor);
}

/* Mobile */
@media (max-width: 768px) {
    html {
        font-size: 50%;
    }
    header {
        flex-direction: row;
        gap: var(--largePadding);
    }

    /*Remove the desktop nav links*/
    header nav {
        display: none;
    }

    .hamburger {
        display: flex;
        order: 2;
    }

    nav.menu {
        position: fixed;
        top: calc(10vh + (2 * var(--largePadding)));
        left: var(--largePadding);
        right: var(--largePadding);
        height: calc(90vh - (3 * var(--largePadding)));
        margin: 0;
        display: none;
        flex-direction: column;
        z-index: 1;
        border-radius: var(--primaryBorderRadius);
    }

    #menuToggle:checked ~ nav.menu {
        display: flex;
    }

    nav ul {
        margin: auto;
        flex-direction: column;
        gap: var(--largePadding);
    }

    li {
        padding: 0;
        text-align: center;
    }

    a {
        transition: color var(--primaryTransition);
        font-size: var(--h5Size);
        font-weight: var(--h5Weight);
        font-family: var(--h5FontFamily);
    }

    a:hover {
        color: var(--primaryColor);
    }
}
