/*Front page*/
#welcome {
    width: 100%;
    min-height: 100vh;
    color: var(--textColor);
    z-index: 1;
    position: relative;
}

#welcomeBackground {
    width: 100%;
    height: 100%;
    position: fixed;
    background-image: url("../images/background.webp");
    background-size: cover;
    background-size: 100%;
    background-repeat: repeat;
    opacity: 0.3;
    pointer-events: none; /* clicks pass through */
    z-index: -1;
}

#firstName {
    font-size: 17.942rem;
    position: fixed;
    top: var(--largePadding);
    left: var(--largePadding);
    z-index: 3;
}

#lastName {
    font-size: 17.942rem;
    position: fixed;
    bottom: var(--largePadding);
    right: var(--largePadding);
    z-index: 3;
}

#welcomeImage {
    height: calc(100vh - var(--largePadding) - var(--h1Size));
    width: calc(100vh - var(--largePadding) - var(--h1Size));
    object-fit: cover;
    border-radius: var(--primaryBorderRadius);
    position: absolute;
    top: calc(50% - (100vh - var(--largePadding) - var(--h1Size)) / 2);
    left: calc(50% - (100vh - var(--largePadding) - var(--h1Size)) / 2);
    z-index: 2;
}

/*Gallery*/
.fullSizeImage {
    display: block;
    margin: 0 auto;
    margin-top: 25rem;
    margin-bottom: var(--largestPadding);
    width: auto;
    height: calc(100vh - (2 * var(--largePadding)));
    border-radius: 50% 50% var(--primaryBorderRadius) var(--primaryBorderRadius);
}

/*Scroll Cards*/
.scrollContainer {
    display: flex;
    width: 100%;
    overflow: scroll;
    padding: var(--largePadding);
    scrollbar-width: none;
    gap: var(--mediumPadding);
    flex-shrink: 0;
}

.scrollContainer::-webkit-scrollbar {
    display: none;
}

.scrollCard {
    width: calc((var(--contentWidth) / 3) - var(--mediumPadding));
    height: auto;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
}

.scrollCard img {
    width: 100%;
    height: 35vw;
    border-radius: calc((var(--contentWidth) / 3) - var(--mediumPadding))
        calc((var(--contentWidth) / 3) - var(--mediumPadding))
        var(--primaryBorderRadius) var(--primaryBorderRadius);
    object-fit: cover;
    flex-shrink: 0;
}

/* Mobile */
@media (max-width: 768px) {
}
